.loadMore {
  margin: 0 auto;
  margin-top: 80px;

  background-color: transparent !important;
  border: 1px solid var(--button) !important;
  color: var(--main) !important;

  &:hover,
  &:focus,
  &:focus-visible,
  &:active {
    border: 1px solid var(--button-hover) !important;
    background-color: transparent !important;
  }
}
