.navList {
  display: flex;
  align-items: center;
  gap: 32px;
}

.navLink {
  padding: 26px 0;

  font-weight: 500;
  color: var(--main);
  text-decoration: none;

  &:hover,
  &:focus,
  &:focus-visible,
  &:active {
    color: var(--button-hover);
  }
}
