.container {
  display: flex;
  align-items: flex-start;
  gap: 72px;
}

.imageFormWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}

.image {
  max-width: 640px;
  height: 512px;
  border-radius: 19px;
}
