.container {
  @media only screen and (min-width: 1440px) {
    display: flex;
    align-items: flex-start;
    gap: 72px;
  }

  padding-top: 84px;
}

.imageFormWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;

  margin-bottom: 40px;

  @media only screen and (min-width: 1440px) {
    margin-bottom: 0;
  }
}

.image {
  height: auto;
  width: 100%;
  @media only screen and (min-width: 1440px) {
    max-width: 640px;
    height: 512px;
  }

  border-radius: 19px;
}
